.setting-wrap {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 100;

  .setting-container {
    position: relative;
    margin: 0 1.6rem;
    z-index: 1;
    opacity: 0;
    transform: translateY(20.0rem);
    transition: all 0.5s ease-in-out;

    .setting-panel {
      position: absolute;
      bottom: 0;
      left: 0;
      display: flex;
      width: calc(100vw - 2.4rem);
      max-width: 50rem;
      padding: 2.5rem 0;
      color: #fff;
      background: rgba(0, 0, 0, .8);
      border-radius: 0.8rem;

      .nav-wrap {
        display: flex;
        flex-direction: column;
        border-right: 1px solid rgba(255, 255, 255, 0.12);

        .nav-menu {
          position: relative;
          display: flex;
          flex-direction: column;
          flex: 1;
          width: 14.4rem;
          margin: 0;
          padding: 0.2rem 0;
          box-sizing: border-box;
          overflow: hidden;

          li {
            display: block;
            padding: 0.6rem 2rem;

            a {
              font-size: 1.8rem;
              font-weight: 400;
              color: #fff;
              text-decoration: none;
              opacity: 0.6;
              transition: opacity 0.5s ease-in-out;

              &:hover {
                opacity: 0.8;
              }
            }

            &.act {
              a {
                font-weight: 700;
                opacity: 1;
              }
            }
          }
        }
      }

      .setting-view {
        flex: 1;
        overflow-y: auto;

        .set-cont {
          display: none;
          padding: 1rem 2rem;

          &.act {
            display: block;
          }

          .set-tit {
            display: block;
            margin: 0 0 0.4rem;
            font-size: 2.4rem;
            font-weight: 500;
          }
          .set-desc {
            font-size: 1.3rem;
            opacity: 0.75;
          }
          .set-sub-tit {
            display: block;
            margin: 2.4rem 0 4rem;
            font-size: 1.8rem;
            font-weight: 500;
          }
          .set-list {
            margin: 0;
            padding: 0;
            list-style: none;
   
            li {
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin: 0;
              padding: 1.2rem 0.6rem;
              border-top: 1px solid rgba(255, 255, 255, 0.13);
              border-bottom: 1px solid rgb(0, 0, 0);

              &:first-child {
                border-top: none;
              }
              &:last-child {
                border-bottom: none;
              }

              .label {
                font-size: 1.4rem;
                font-weight: 400;
              }
            }
          }
        }
      }
    }
  }
  .btn-setting {
    position: relative;
    display: inline-block;
    width: 6rem;
    height: 6rem;
    padding: 0;
    text-indent: -999rem;
    background: url('../images/icon/settings.svg') 50% 50% no-repeat;
    background-size: 3.6rem;
    border: none;
    opacity: 0.7;
    z-index: 2;
    transition: all 0.5s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }
  
  &.act {
    .setting-container {
      transform: translateY(0);
      opacity: 1;
    }
    .btn-setting {
      transform: rotate(270deg);
    }
    
 }
}

@media (max-width: 532px) and (min-width: 361px) {
  .setting-wrap {
    .setting-container {
      .setting-panel {
        .nav-wrap {
          .nav-menu {
            width: calc(25vw);

            li {
                a {
                  font-size: calc(3.2vw);
                }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 360px) {
  .setting-wrap {
    .setting-container {
      .setting-panel {
        flex-direction: column;

        .nav-wrap {
          .nav-menu {
            li {
                a {
                  font-size: 1.1rem;
                }
            }
          }
        }
      }
    }
  }
}