.setting-wrap {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 100;

  .setting-container {
    position: relative;
    margin: 0 1rem;
    z-index: 1;
    opacity: 0;
    transform: translateY(20.0rem);
    transition: all 0.5s ease-in-out;

    .setting-panel {
      position: absolute;
      bottom: 0;
      left: 0;
      display: flex;
      max-width: 500px;
      padding: 1rem 0;
      color: #fff;
      background: rgba(0, 0, 0, .8);
      border-radius: 0.5rem;

      .nav-wrap {
        display: flex;
        flex-direction: column;
        border-right: 0.063rem solid rgba(255, 255, 255, 0.12);

        .nav-menu {
          position: relative;
          display: flex;
          flex-direction: column;
          flex: 1;
          width: 9.375rem;
          margin: 0;
          padding: 0.625rem 0;
          box-sizing: border-box;
          overflow: hidden;

          li {
            display: block;
            padding: 0.375rem 1.25rem;

            a {
              font-size: 1.125rem;
              font-weight: 400;
              color: #fff;
              text-decoration: none;
              opacity: 0.6;
              transition: all 0.5s ease-in-out;

              &:hover {
                opacity: 0.8;
              }
            }

            &.act {
              a {
                font-weight: 700;
                opacity: 1;
              }
            }
          }
        }
      }

      .setting-view {
        flex: 1;
        overflow-y: auto;

        .set-cont {
          display: none;
          width: 20rem;
          padding: 0.625rem 1.25rem;

          &.act {
            display: block;
          }

          .set-tit {
            display: block;
            margin: 0 0 0.25rem;
            font-size: 1.5rem;
            font-weight: 500;
          }
          .set-desc {
            font-size: 0.813rem;
            opacity: 0.75;
          }
          .set-sub-tit {
            display: block;
            margin: 1.5rem 0 0.25rem;
            font-size: 1.125rem;
            font-weight: 500;
          }
          .set-list {
            margin: 0;
            padding: 0;
            list-style: none;
   
            li {
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin: 0;
              padding: 0.75rem 0.375rem;
              border-top: 0.063rem solid rgba(255, 255, 255, 0.13);
              border-bottom: 0.063rem solid rgb(0, 0, 0);

              &:first-child {
                border-top: none;
              }
              &:last-child {
                border-bottom: none;
              }
            }
          }
        }
      }
    }
  }
  .btn-setting {
    position: relative;
    display: inline-block;
    width: 3.75rem;
    height: 3.75rem;
    padding: 0;
    text-indent: -999rem;
    background: url('../images/icon/settings.svg') 50% 50% no-repeat;
    background-size: 1.75rem;
    border: none;
    opacity: 0.7;
    z-index: 2;
    transition: all 0.5s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }
  
  &.act {
    .setting-container {
      transform: translateY(0);
      opacity: 1;
    }
    .btn-setting {
      transform: rotate(270deg);
    }
    
 }
}